/* Slider */
.slick-slider {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.laya-slick-dots {
  display: flex;
  margin-right: 12px;
}

.laya-slick-dots li {
  /* width: 60px;
  height: 80px; */
  margin: 2px;
  padding: 4px;
  cursor: pointer;
  list-style: none;
  float: left;
}

.laya-slick-dots li::marker {
  display: none;
}

.laya-slick-dots .slick-active {
  border: 1px solid lightpink;
}
.laya-slick-dots li .thumbnails {
  display: block;
}

@media (max-width: 767.98px) {
  .slick-slider {
    flex-direction: column;
  }
  .laya-slick-dots {
    margin: 0 auto;
  }
  .laya-slick-dots li .thumbnail {
    display: none;
  }
  .laya-slick-dots li {
    padding: 0;
  }
  .laya-slick-dots li .list-dot {
    display: block;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 99px;
    margin: 0 4px;
  }
  .laya-slick-dots li.slick-active .list-dot {
    display: block;
    background-color: lightpink;
    border-color: lightpink;
  }
  .laya-slick-dots .slick-active {
    border: none;
  }
}
