.laya-slick-dots {
    display: flex;
}

.laya-slick-dots li {
    width: 60px;
    height: 80px;
    margin: 2px;
    padding: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    list-style: none;
    float: left;

}
.laya-slick-dots li::marker {
    display: none;
}